{%extends 'base.html'%}

{% block reload %}
<script>
    setTimeout(function(){
        window.location.reload();
    }, 8000)
</script>
{% endblock %}

{% block centre %}

        <div class="deuxieme">
             <!-- la premiere div pour le bouton -->
            <div class="btn4">
                <button><a href="{{url_for('form')}}">Ajouter</a>
                </button>
            </div>
             <!-- la deuxieme div pour le carré -->
            <div class="success">
                <!-- <p>Votre magasin a été enregistré avec succès</p>  -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                          {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div> 
             <!-- la derniere div pour le tableau -->
            <div class="tble">
                <table class="table">
                    <caption><h4><strong>Liste des Magasins</strong></h4></caption> 
                   <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Mail</th>
                    <th>Action</th>
                   </tr>

                   {% for row in data %}

                   <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                    <td> {{ row[3] }} </td>
                    <td> {{ row[4] }} </td>

                    <td class="activer"> 
                        <button class="boutonM1"><a href="{{url_for('edit', item_id=row[0] ) }}">Modifier</a></button>
                        <button class="boutonS2"><a href="{{url_for('supprimer', item_id=row[0]) }}">Supprimer</a></button>
                    </td>
                   </tr>
                   
                   {% endfor %}

                </table>
            </div> 
        </div>        
{% endblock %} 

