{%extends 'base.html'%}

{%block centre%}
        <div class="deuxieme5">
            <div class="tble5">
                <h3>Modifier un nouveau magasin</h3>
                <form action="" class="form5">
                    <label for="">Nom : </label>
                    <input type="text" class="input5" placeholder="Magasin 5">
                    <label for="">Adresse :</label>
                    <input type="text" class="input5" placeholder="Adresse 5 ">
                    <label for="">Téléphone :</label>
                    <input type="tel" class="input5" placeholder="Téléphone M">
                    <label for="">E-mail :</label>
                    <input type="text" class="input5" placeholder="E-mail 5">
                </form>
            </div> 
            <div class="btn5">
                <button class="red"><a href="{{url_for('magasin')}}">Retour</a>
                </button>
                <button class="vert"><a href="{{url_for('enrModifier')}}">Valider</a>
                </button>
            </div>
           
        </div>
                    

{%endblock centre%}